.header button{
    background-color: #ED994C;
    border: 0;
    padding: 8px 32px;
    font-size: 24px;
    border-radius: 4px;
    transition: 0.2s ease-in;
}
.header button:hover{
    background-color: white;
    border: 1px solid #ED994C;
}