.super-admin{
    display: flex;
    min-height: 64vh;
}
.open-page{
    width: 100%;
}
.containerr{
    width: 100%;
    width: 100%;
}
.another-containerr{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px;  
    min-height: 59vh; 
}
.menu{
    width: 10%;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:32px 16px;
    gap: 40px;
}
.menu a{
    color: #ED994C;
    transition: all 400ms ease;
    display: inline-block;
    font-size: 28px;
    text-decoration: none;
}
.menu a:hover{
    transform: scale(1.1);
    color: #5E5E5E;
}
.menu a:focus{
    transform: scale(1.1);
    color: #5E5E5E;
}
.open-page{
    padding: 16px;
}
.plus{
    font-size: 20px;
}
@media (max-width: 1200px) {
    .menu a{
        font-size: 24px;
    }
    .plus{
        font-size: 16px;
    }
    }
@media (max-width: 900px) {
    .menu a{
        font-size: 20px;
    }
    .plus{
        font-size: 12px;
    }
    }
@media (max-width: 720px) {
    .menu a{
        font-size: 16px;
    }
    .plus{
        font-size: 8px;
    }
    }
@media (max-width: 620px) {
    .menu{
        width: 20%;
    }
    }