.c-popup{
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 36%;
    top: 25%;
}

.contact-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    padding: 40px;
    border-radius: 6px;
    background-color: #ffffff;
   
}

.contact-header{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    color: #2B2B2B;
    font-size: 16px;
}

.contact-header .contact-close-btn{
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
    border: none;
    background-color: transparent;
    color: #2B2B2B;
    font-weight: bold;
}

.contact-header .contact-close-btn:hover{
    color: #F49B33;
}


.contact1 , .contact2{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.contact1{
    padding-top: 20px;
}

.contact2{
    padding-top: 10px;
}

.email-contact , .hotLine-contact{
    font-size: 18px;
    color: #F49B33;
}

.c-e a, .h-c{
    color: #2B2B2B;
    font-size: 16px;
}

.c-e a{
    text-decoration: none;
    cursor: pointer;
}